[submodule "vendor/plugins/webistrano_privileges"]
	path = vendor/plugins/webistrano_privileges
	url = git://github.com/haitham/webistrano_privileges.git
[submodule "vendor/plugins/fast_remote_cache"]
	path = vendor/plugins/fast_remote_cache
	url = git://github.com/37signals/fast_remote_cache.git
[submodule "vendor/plugins/webistrano_stage_privileges"]
	path = vendor/plugins/webistrano_stage_privileges
	url = git://github.com/espace/webistrano_stage_privileges.git
[submodule "vendor/plugins/webistrano_ldap_users"]
	path = vendor/plugins/webistrano_ldap_users
	url = git://github.com/espace/webistrano_ldap_users.git
